.whitelist-picker
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    align-content: center
    padding-left: 15px
    padding-right: 15px

    img
        margin: 5px
