<h1>Whitelist</h1>
<div ng-switch="fetchingStatus">
    <div ng-switch-when="in progress">
        <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>
    <div ng-switch-when="complete" class="whitelist-picker">
        <div ng-repeat="member in whitelist" class="whitelist-image">
            <img ng-src="https://avatar.oc.tc/{{member.name}}" alt="{{member.name}}" title="{{member.name}}"/>
        </div>
    </div>
    <div ng-switch-when="failed">
        Failed to load data from the server.
    </div>
</div>
